@tailwind base;
@tailwind components;
@tailwind utilities;

.barraCronometro {
    animation: animacion 60s forwards;
}

@keyframes animacion {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}